@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

li {
    text-align: justify;
}

.parallax-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-one {
    background-image: url('img/bg1.jpg');
}

.bg-two {
    background-image: url('img/bg2.jpg');
}

.bg-three {
    background-image: url('img/bg3.jpg');
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.normal-section {
    padding: 80px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    align-items: center;
}

.footer {
	width: 100%;
	background: #000;
	text-align: center;
	padding: 10px 0px;
	color: #fff;
}

.footer span {
	color: #fff;
	padding: 10px 0px;
}